* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
}
.new-navbar-color {
  background-color: #40026c !important;
}
.new-navbar-brand-color {
  color: #fff !important;
}
.new-button-color {
  background-color: #40026c;
  border-color: #40026c;
}

.container h1 {
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
.image-size {
  width: 100% !important;
}
.card-group {
  margin-top: 5vh;
  margin-left: 10em;
}
.footer {
  height: 5em;
  width: 100%;
  margin-top: 5vh;
  background-color: #40026c;
}
footer span {
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: absolute;
  padding-top: 3vh;
  padding-left: 2em;
  font-weight: lighter;
}
